{{!-- Spellbook Navigation --}}
<nav class="sheet-navigation tabs spellbooks" data-group="spellbooks">
  {{#each data.attributes.spells.spellbooks as |spellbook a|}}
  {{#if spellbook.inUse}}
  <a class="item" data-tab="{{a}}">{{spellbook.name}}</a>
  {{/if}}
  {{/each}}
</nav>

<section class="spellbooks-body">
  {{#each spellbookData as |spellbook a|}}
  {{#if spellbook.orig.inUse}}
  <div class="tab spellbook-group flexcol" data-group="spellbooks" data-tab="{{a}}">
  {{~> "systems/pf1/templates/actors/parts/actor-spellbook.hbs" spellbook=spellbook spellbookIndex=a
    data=../data owner=../owner filters=../filters.spellbook isCharacter=../isCharacter
    spellFailure=../spellFailure hiddenElems=../hiddenElems sourceDetails=../sourceDetails}}
  </div>
  {{/if}}
  {{/each}}
</section>
